.User{
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding-right: 9rem;

  .Student-Picture {
    display: flex;
    float: left;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 36%;
    height: auto;
    margin: 1px;

  }

  .User-Info{
    display: flex;
    flex-direction: column;

    .Student-Name {
      font-size: 40px;
    }

  }
  .More-Grades{
    border: 2px solid yellow;
  }

  .grades{
    text-align: center;
    border: 2px solid red;
    margin-left: 3%;
  }



}