.User{
  background-color: whitesmoke;
  border: 1px solid lightgray;
  display: flex;
  padding-right: 9rem;

  .Student-Picture {

    border: 2px solid lightgray;
    border-radius: 50%;
    width: 37%;
    height: auto;
    margin: 1px;

  }

  .test-wrapper{
    display: flex;
    flex-direction: column;

    .Student-Name {
      font-size: 40px;

    }
  .Student-Email {

  }

  .Student-Skill {

  }

  .Student-Average {


  }
}


}